
.container {
    padding: 2em 0.5em 1em 0.5em;
}
body {
    font-family: 'Roboto Condensed', sans-serif
}
nav ul {
    list-style-type: none;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

    nav li a:link,
    nav li a:visited,
    nav li a:hover,
    nav li a:active {
        color: white;
        text-decoration: none;
    }
nav .active {
    background-color: #4CAF50;
}
    nav .active:hover {
        background-color: #337735;
    }

.padding-top {
    padding-top: 1em;
}

code {
    color: #4CAF50
}