

<div class="container">
    <form style="padding: 2em 0em 1em 0em">
        <div class="form-row">
            <div class="col">
                <label>KaaToken</label>
                <input class="form-control" type="text" name="KaaToken" ng-model="ViewModel.body.KaaToken" ng-change="ViewModel.change()" />
            </div>
            <div class="col">
                <label>Category</label>
                <input class="form-control" type="text" name="Category" ng-model="ViewModel.body.Category" ng-change="ViewModel.change()" />
            </div>
            <div class="col">
                <label>Title</label>
                <input class="form-control" type="text" name="Title" ng-model="ViewModel.body.Title" ng-change="ViewModel.change()" />
            </div>
        </div>
    </form>
    
    
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>KaaToken</th>
                <th>Category</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in ViewModel.response">
                <th style="width: 12.5%">{{x._id}}</th>
                <th style="width: 12.5%">{{x.KaaToken}}</th>
                <th style="width: 12.5%">{{x.Category}}</th>
                <th style="width: 12.5%">{{x.Title}}</th>
                <th style="width: 50%">{{x.Content}}</th>
            </tr>
        </tbody>
    </table>
</div>
    
        